h1 {
    color: rgb(0, 145,165);
    text-align: center;
}
body {
    font-family: sans-serif;
}

tr, th {
    font-size: 12px;
}

select {
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

option {
    padding: 5px
}

.id {
    min-width: 5px;
    width: 5px;    
    max-width: 15px;
}

.title {
    min-width: 15px;
    width: 150px;    
    max-width: 335px;
}

.long {
    min-width: 45px;
    width: 500px;    
    max-width:600px;
}